<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->

<head>
    <meta charset="utf-8">
    <title>STAG Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="dashboard" class="brand-wrap">
                <img src="/adminassets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="productList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="productList">Product List</a>
                        <a href="categories">Categories</a>
                        <a href="categoryoffer">Category Offer</a>
                    </div>

                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="orderlist">Order list </a>
                    </div>
                </li>
                
                <li class="menu-item ">
                    <a class="menu-link" href="addProducts"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>

                </li>
               
                <li class="menu-item ">
                    <a class="menu-link" href="users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span> 
                    </a>

                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="couponList"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="salesReport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                 <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> 
                <li class="menu-item">
                    <a class="menu-link" href="brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                
            </ul>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">

        <section class="content-main ">
            <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminassets/imgs/people/avtar.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
            <div class="row ">
                <div class="col-9">

                    <div class="content-header" style="padding-top: 100px;">
                        <h2 class="content-title">Add Coupon</h2>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            <form id="copform">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Coupon Name</label>
                                    <input type="text"  placeholder="Type here" id="couponname" name="name" value="<%= coupon.name %>"
                                        class="form-control" id="product_name">
                                        <p id="error1" style="display: none; color: red;"></p>
                                        <% if (error) { %>
                                     <p><span style="color: red;"><%= error %></span></p>
                                    <% } %>
                                    <% if (nameError) { %>
                                     <p><span style="color: red;"><%= nameError %></span></p>
                                    <% } %>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Minimum Discount</label>
                                            <div class="row gx-2">
                                                <input placeholder="Type here" id="mindiscount" name="discount"
                                                    value="<%= coupon.discount %>" type="text" class="form-control">
                                                    <p id="error2" style="display: none; color: red;"></p>
                                                    <% if (error) { %>
                                                    <p><span style="color: red;"><%= error %></span></p>
                                                <% } %>
                                                <% if (discounterror) { %>
                                                    <p><span style="color: red;"><%= discounterror %></span></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Maximum Discount</label>
                                            <input placeholder="Type here" id="maxdiscount" name="maxdiscount"
                                                value="<%= coupon.maxdiscount %>" type="text" class="form-control">
                                                <p id="error3" style="display: none; color: red;"></p>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Minimum Purchase</label>
                                            <div class="row gx-2">
                                                <input placeholder="" id="minpurchase" name="minpurchase"
                                                    value="<%= coupon.minPurchase %>" type="text" class="form-control">
                                                    <p id="error4" style="display: none; color: red;"></p>
                                                    <input type="hidden" name="cid" id="cid" value="<%= coupon._id %>">
                                                    <% if (error) { %>
                                                    <p><span style=" color: red;"><%= error %></span></p>
                                                <% } %>
                                                <% if (minPurchaseerror) { %>
                                                 <p><span style=" color: red;"><%= minPurchaseerror %></span></p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label class="form-label">Coupon Expirey</label>
                                            <input placeholder="" id="expiry" name="expirydate"
                                                value="<%= coupon.expiryDate.toISOString().split('T')[0] %>" type="date"
                                                class="form-control">
                                                <p id="error5" style="display: none; color: red;"></p>
                                                <% if (error) { %>
                                                <p><span style=" color: red;"><%= error %></span></p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div style="align-items: center;">
                                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                                </div>
                                </form>
                        </div>
                    </div> <!-- card end// -->
                </div>
                
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©,STAG MEN FASHION .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>=
        </footer>
    </main>
    </body>
    <script>
        const cname = document.getElementById('couponname');
        const mindisc = document.getElementById('mindiscount');
        const maxdisc = document.getElementById('maxdiscount');
        const purchase = document.getElementById('minpurchase');
        const expiry = document.getElementById('expiry');
        const copform = document.getElementById('copform');

        const error1 = document.getElementById('error1');
        const error2 = document.getElementById('error2');
        const error3 = document.getElementById('error3');
        const error4 = document.getElementById('error4');
        const error5 = document.getElementById('error5');

        function validateCouponName() {
            const nameval = cname.value.trim();
            const namePattern = /^[A-Z][a-zA-Z]*$/; 

            if (nameval === "") {
                showError(error1, "Please enter a valid name.");
                return false;
            } else if (!namePattern.test(nameval)) {
                showError(error1, "Invalid format. Name should start with a capital letter and contain only letters.");
                return false;
            } else {
                hideError(error1);
                return true;
            }
        }

        function validateMinDiscount() {
            const minDiscVal = parseFloat(mindisc.value.trim());
            if (isNaN(minDiscVal) || minDiscVal < 0 || minDiscVal>99) {
                showError(error2, "Please enter a valid discount.");
                return false;
            } else {
                hideError(error2);
                return true;
            }
        }

        // function validateMaxGreaterMin() {
        //     const minDiscount = parseFloat(mindisc.value.trim());
        //     const maxDiscount = parseFloat(maxdisc.value.trim());

        //     if (!isNaN(minDiscount) && !isNaN(maxDiscount)) {
        //         if (maxDiscount <= minDiscount) {
        //             showError(error3, "Maximum discount should be greater than minimum discount.");
        //             return false;
        //         } else {
        //             hideError(error3);
        //             return true;
        //         }
        //     }
        //     return true; // Skip this if values are invalid already (handled in min/max validations)
        // }

        function validateMinPurchase() {
            const minPurchaseVal = parseFloat(purchase.value.trim());
            if (isNaN(minPurchaseVal) || minPurchaseVal < 0) {
                showError(error4, "Please enter a valid minimum purchase amount.");
                return false;
            } else {
                hideError(error4);
                return true;
            }
        }

        function validateExpiryDate() {
            const currentDate = new Date();
            const selectedDate = new Date(expiry.value);
            if (!expiry.value || selectedDate <= currentDate) {
                showError(error5, "Please select a future expiry date.");
                return false;
            } else {
                hideError(error5);
                return true;
            }
        }

        function showError(errorElement, message) {
            errorElement.style.display = "block";
            errorElement.innerHTML = message;
        }

        function hideError(errorElement) {
            errorElement.style.display = "none";
            errorElement.innerHTML = "";
        }

        // Attach validation on blur
        cname.addEventListener('blur', validateCouponName);
        mindisc.addEventListener('blur', validateMinDiscount);
        // maxdisc.addEventListener('blur', validateMaxDiscount);
        // maxdisc.addEventListener('blur', validateMaxGreaterMin);
        purchase.addEventListener('blur', validateMinPurchase);
        expiry.addEventListener('blur', validateExpiryDate);

        
        copform.addEventListener('submit', function (e) {
            e.preventDefault(); 
            const valid1 = validateCouponName();
            const valid2 = validateMinDiscount();
            // const valid3 = validateMaxDiscount();
            // const valid4 = validateMaxGreaterMin();
            const valid5 = validateMinPurchase();
            const valid6 = validateExpiryDate();
            
            if (!valid1 || !valid2 || !valid5 || !valid6) {
                return
            }
            console.log("fdfd")
            // let cid = document.getElementById('cid').value
            let name = cname.value;
            let discount = mindisc.value;
            let minpurchase = purchase.value;
            let expirydate= expiry.value;
            fetch(`/admin/editCoupons`,{
                method:"POST",
                headers:{"Content-type":"application/json"},
                body:JSON.stringify({name,discount,expirydate,minpurchase})
            }).then((response)=>response.json())
            .then((data)=>{
                if(data.success){
                    showToast(data.message||'','success')
                    setTimeout(() => {
                        window.location.href = '/admin/couponList'
                    }, 2000);
                }else{
                    showToast(data.message||'','error')
                    setTimeout(() => {
                        window.location.href = '/admin/couponList'
                    }, 2000);
                }
            })
        });

    </script>
</html