<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:00 GMT -->

<head>
    <meta charset="utf-8">
    <title>Blend Fashion Sales Report</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminassets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminassets/css/main.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="dashboard" class="brand-wrap">
                <img src="/adminassets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="productList">Product List</a>
                        <a href="categories">Categories</a>
                        <a href="categoryoffer">Category Offer</a>
                    </div>

                </li>
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href=""> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="orderlist">Order list </a>
                    </div>
                </li>
                
                <li class="menu-item ">
                    <a class="menu-link" href="addProducts"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>

                </li>
               
                <li class="menu-item ">
                    <a class="menu-link" href="users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span> 
                    </a>

                </li>
                <li class="menu-item">
                    <a class="menu-link" href="couponList"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="salesReport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                 <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> 
                <li class="menu-item">
                    <a class="menu-link" href="brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/adminassets/imgs/people/avtar.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Sales Report</h2>
                <div>
                    <a class="btn btn-md rounded font-sm" onclick="pdf()">Download PDF</a>
                    <a class="btn btn-md rounded font-sm" onclick="excel()">Download Excel</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-9">
                            <header class="border-bottom mb-4 pb-4">
                                <div class="row">
                                    <p id="error" class="text-danger"></p>
                                    <div class="col-lg-2">
                                        <input type="Date" id="date" placeholder="Search..." class="form-control">
                                        <br>
                                        <input type="Date" id="date2" placeholder="Search..." class="form-control">
                                    </div>
                                    <button style="width: 150px; height: 45px;background-color: #088178;border-radius: 0.2rem;border: 0cap;" onclick="date()">Submit</button>
                                    <div class="col-lg-2 col-6" style="margin-left: 280px;">
                                        <select id="sort" class="form-select">
                                            <option value="All">All</option>
                                            <option value="Day">Day</option>
                                            <option value="Week">Weekly</option>
                                            <option value="Month">Monthly</option>
                                            <option value="Year">Year</option>
                                        </select>
                                    </div>
                                    <button  style="width: 150px; height: 45px;background-color: #088178;border-radius: 0.2rem;border: 0cap;" onclick="sort()">Submit</button>
                                </div>
                            </header> <!-- card-header end// -->
                            <div class="table-responsive">
                                <table class="table table-hover" id="pdf">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Date</th>
                                            <th>Total Amount</th>
                                            <th>Discount</th>
                                            <th>Coupon</th>
                                            <th>Paid</th>
                                            <th class="text-end">Method</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% deliveredOrders.forEach(el=>{ %>
                                            <tr>
                                                <td><b>
                                                        <%= el.orderId %>
                                                    </b></td>
                                                <td>
                                                    <%= el.user.name %>
                                                </td>
                                                <td>
                                                    <%= el.user.email %>
                                                </td>
                                               <td>
                                                    <%= new Date(el.updatedAt).toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %>
                                                </td>
                                                
                                                <td><%= ((Number(el.totalDiscount || 0) + Number(el.totalAmount || 0) + Number(el.coupon || 0)).toFixed(2))%></td>
                                                
                                                
                                                    <td><%=el.totalDiscount%></td>
                                                

                                                <td>
                                                    <%= Number(el.coupon).toFixed(2) %>
                                                </td>
                                                    
                                                        <td>
                                                            <%= el.totalAmount %>
                                                        </td>
                                                    
                                                        <td class="text-end">
                                                            <%= el.paymentMethod %>
                                                        </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <hr>
                                <div id="summary">
                                    <h5>Summary</h5>
                                    <hr>
                                    <div style="display: flex; flex-direction: column;">
                                       <div>
                                         <table class="table table-hover" style="width: 30%;">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Total Orders:
                                                    </th>
                                                    <th class="text-end">
                                                        <span id="totalOrders"></span>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                       </div>
                                        <div style="margin-top: -25px;">
                                            <table class="table table-hover" style="width: 30%;">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Total Sales Amount:
                                                        </th>
                                                        <th class="text-end">
                                                            ₹<span id="totalSales"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div style="margin-top: -25px;">
                                            <table class="table table-hover " style="width: 30%;" >
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Total Discount:
                                                        </th>
                                                        <th class="text-end">
                                                            ₹<span id="totalDiscount" ></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div style="margin-top: -25px;">
                                            <table class="table table-hover" style="width: 30%;">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Total Coupon Discount: 
                                                        </th>
                                                        <th class="text-end">
                                                            ₹<span id="totalCoupon"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div style="margin-top: -25px;">
                                            <table class="table table-hover" style="width: 30%;">
                                                <thead>
                                                    <tr>
                                                        <th class="text-end text-dark" style="background-color: #9ba2a1;">
                                                           Total Paid:
                                                        </th>
                                                        <th class="text-end text-dark" style="background-color: #9ba2a1;">
                                                            ₹<span id="totalPaid"></span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- table-responsive.// -->
                        </div> <!-- col end// -->
                        <!-- <aside class="col-lg-3">
                            <div class="box bg-light" style="min-height:80%">
                                <p class="text-center text-muted my-5">Please select transaction <br> to see details</p>
                            </div>
                        </aside>  -->
                    </div> <!-- row end// -->
                </div> <!-- card-body // -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <!-- <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul> -->
                </nav>
            </div>
        </section>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©,STAG MEN FASHION .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>=
        </footer>
    </main>

    <script>

        function date() {
            const date = document.getElementById('date').value
            const date2 = document.getElementById('date2').value
            const today = new Date();
            if (!date&&!date2) {
                document.getElementById('error').textContent = 'Select a Date'
                setTimeout(() => {
                    document.getElementById('error').textContent = ''
                }, 2000)
            } else {
                const customdate = new Date(date);
                const customdate2 = new Date(date2)
                if (customdate >= today&&customdate2>=today) {
                    document.getElementById('error').textContent = 'You can only view todays and previous days orders'
                    setTimeout(() => {
                        document.getElementById('error').textContent = ''
                    }, 2000);
                }else if(customdate > customdate2){
                    document.getElementById('error').textContent = 'first date should be lesser than the second date'
                    setTimeout(() => {
                        document.getElementById('error').textContent = ''
                    }, 2000);
                } else {
                    window.location.href = `/admin/salesDate?value=${date}&&value2=${date2}`
                }
            }
        }

        function sort() {
    
            const data = document.getElementById('sort').value
            console.log(data);
            if (data == "All") {
                window.location.href = '/admin/salesReport'
            } else {
                window.location.href = `/admin/data?value=${data}`
            }
        }

        function pdf() {
            const element = document.getElementById('pdf'); // The table
        const summary = document.getElementById('summary');

        // Create a temporary container to export both
        const exportContent = document.createElement("div");
        exportContent.appendChild(element.cloneNode(true));
        exportContent.appendChild(summary.cloneNode(true));

        html2pdf().from(exportContent).set({
            margin: 0.5,
            filename: 'sales_report.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        }).save();
        }

        function excel() {
            /* Retrieve table data */
const wb = XLSX.utils.book_new();
        const ws_data = [];
        const rows = document.querySelectorAll('#pdf tbody tr');

        // Add header
        const headers = ["Order ID", "Name", "Email", "Date", "Total Amount", "Discount", "Coupon", "Paid", "Method"];
        ws_data.push(headers);

        // Data rows
        rows.forEach(row => {
            const rowData = Array.from(row.cells).map(cell => cell.innerText);
            ws_data.push(rowData);
        });

        // Summary Calculations
        let totalOrders = rows.length, totalSales = 0, totalDiscount = 0, totalCoupon = 0, totalPaid = 0;

        rows.forEach(row => {
            totalSales += parseFloat(row.cells[4].innerText) || 0;
            totalDiscount += parseFloat(row.cells[5].innerText) || 0;
            totalCoupon += parseFloat(row.cells[6].innerText) || 0;
            totalPaid += parseFloat(row.cells[7].innerText) || 0;
        });

        // Empty row then summary rows
        ws_data.push([]);
        ws_data.push(["Summary"]);
        ws_data.push(["Total Orders", totalOrders]);
        ws_data.push(["Total Sales", totalSales.toFixed(2)]);
        ws_data.push(["Total Discount", totalDiscount.toFixed(2)]);
        ws_data.push(["Total Coupon Discount", totalCoupon.toFixed(2)]);
        ws_data.push(["Total Paid", totalPaid.toFixed(2)]);

        // Create worksheet and export
        const ws = XLSX.utils.aoa_to_sheet(ws_data);
        XLSX.utils.book_append_sheet(wb, ws, "Sales Report");
        XLSX.writeFile(wb, "sales_report.xlsx");

            /* Save the Excel file */
            saveAsExcelFile(excelBuffer, 'table_data.xlsx');
        }

        function saveAsExcelFile(buffer, fileName) {
            var data = new Blob([buffer], { type: 'application/octet-stream' });
            var url = window.URL.createObjectURL(data);
            var link = document.createElement('a');
            link.href = url;
            link.download = fileName;
            link.click();
            setTimeout(function () {
                window.URL.revokeObjectURL(url);
            }, 100);
        }
        function calculateSummary() {
        const rows = document.querySelectorAll('#pdf tbody tr');
        let totalOrders = 0, totalSales = 0, totalDiscount = 0, totalCoupon = 0, totalPaid = 0;

        rows.forEach(row => {
            totalOrders++;
            const sales = parseFloat(row.cells[4].innerText) || 0;
            const discount = parseFloat(row.cells[5].innerText) || 0;
            const coupon = parseFloat(row.cells[6].innerText) || 0;
            const paid = parseFloat(row.cells[7].innerText) || 0;

            totalSales += sales;
            totalDiscount += discount;
            totalCoupon += coupon;
            totalPaid += paid;
        });

        document.getElementById('totalOrders').innerText = totalOrders;
        document.getElementById('totalSales').innerText = totalSales.toFixed(2);
        document.getElementById('totalDiscount').innerText = totalDiscount.toFixed(2);
        document.getElementById('totalCoupon').innerText = totalCoupon.toFixed(2);
        document.getElementById('totalPaid').innerText = totalPaid.toFixed(2);
    }

    window.onload = calculateSummary;

    </script>

    <script src="/adminassets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/adminassets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/adminassets/js/vendors/select2.min.js"></script>
    <script src="/adminassets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/adminassets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/adminassets/js/main.js" type="text/javascript"></script>
</body>



<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->

</html